# .gitignore voor ons project
#
# begonnen door Reijer
# aangepast door Jaap
# flink onderhanden genomen door Kesava
# daarna nog wat aangepast door Jaap

scriptstemp/
.gradle
build/
scripts/temp/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
containers/

### IntelliJ IDEA ###
#.idea/modules.xml
#.idea/jarRepositories.xml
#.idea/compiler.xml
#.idea/libraries/
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# haal alles met C:\ eruit
# Reijer werkt onder Windows en bij hem is dit dus een apart pad, maar bij mij wordt het
# een mapnaam onder de decompiler-benchmarking map. Is niet erg, doet het wel, maar dan moet
# de repo er niet door worden vervuild
C:\\Users\\reije\\OneDrive\\Documenten\\Development\\c-program\\containers/
