# gitignore voor een java-project
#
# gestart door Reijer
# aangevuld door Jaap

# haal alle .class bestanden eruit; die worden gemaakt door de java-compiler
*.class

# haal alles wat intellij erin stopt eruit
.idea/

# haal alles met C:\ eruit
# Reijer werkt onder Windows en bij hem is dit dus een apart pad, maar bij mij wordt het
# een mapnaam onder de decompiler-benchmarking map. Is niet erg, doet het wel, maar dan moet
# de repo er niet door worden vervuild
C:\\Users\\reije\\OneDrive\\Documenten\\Development\\c-program\\containers/
